// This file is flattened on purpose to prevent less from gen'ing huge selector trains - LM

// normalize
body {
    font-family: @font-family-regular;
    margin: 0;
    padding: 0;
	background-color: @color-background;
}

ul, li {
	list-style: none;
}

h1 {
	font-size: 42px;
	color: #222;
}

.full-height {
	height: 100%;
}

.container {
	&.inactive {
		display: inline-block;
		header {
			margin-left: 15px;
		}
		#links-panel {
			margin: 0 -15px;
		}
	}
}

// header
#top-bar {
	width: 100%;
	height: 70px;
	top: 0;
	left: 0;
	z-index: -1;
	position: absolute;
	background-color: @color-background-dark;
	border-bottom: 2px solid #DFDFDF;
}

header {
	height: 70px;
	h2 {
		float: left;
		color: @color-blue;
	}
	#path-wrapper {
		font-family: @font-family-light;	
		font-size: 14px;	
		color: @gray-light;
		float: left;
		margin: 22px 0 0 30px;
		#search {
			position: relative;
		}
		#search-icon {
			position: absolute;
			left: 10px;
			top: 7px;
		}
		&:focus {
		  outline: 0;
		  border-color: #66b1ee;
		  box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
		}
		input {
			padding: 3px 0 3px 30px;
			width: 400px;
			border: 1px solid #e1e1e1;
		    border-radius: 25px;
		    outline: none;
		    &:active, &:focus {
		    	box-shadow: 0px 0px 3px 1px @color-blue;
		    }
		}
	}
	#info-icon {
		float: right;
		margin: 1em;
		
		button {
			background: @color-background-dark;
		}
	}
}

// sub-headers
.header-details {
	margin-left: 58px;
	h3 {
		margin-bottom: 2em;
	}
	#sort {
		width: auto;
		border:0px;
        outline:0px;
        box-shadow: none;
        background-color: @color-background;
        font-size: 18px;
	}
}

#links-panel {
	height: 100%;
	overflow-y: scroll;
	padding: 0 0 90px 0;
    font-family: @font-family-light;
	border-right: 2px solid #DFDFDF;
	li {
		h5 {
			cursor: pointer;
			font-size: 16px;
			padding: 6px 0 6px 35px;
			.badge {
				margin: -3px 0 0 5px;
				// background: @color-blue;
			}
		}
		h5.label {
			cursor: default;
			margin-top: 2em;
			padding-left: 25px;
    		font-family: @font-family-regular;
		}
		&.active {
			background-color: @color-blue;
			h5 {
				color: #FFF;
				.badge {
					color: @color-blue;
					background-color: #ffffff;
				}
			}
		}
	}
}

#details-panel {
	height: 100%;
	width: @side-panel-width;
	right: 0;
	background: @color-background;
	position: absolute;
    transform: translate(@side-panel-width, 0);
    transition: transform .2s ease-in;
	border-left: 2px solid #DFDFDF;
	#backdrop {
		margin: 0 -15px 0 -15px;
		position: absolute;
		z-index: -1;
	}
	#mirror {
		-moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
		-moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
	}
	#details-wrapper {
		overflow-y: auto;
		margin: 0 -15px;
		padding-bottom: 280px;
		height: 100%;
		.no-trailer {
		}
	}
	#backdrop-space {
		position: relative;
		background: 
		  linear-gradient(
		    to bottom,
		    rgba(0, 0, 0, 0),
		    rgba(0, 0, 0, 0),
		    rgba(0, 0, 0, 0.2)
		  );
		width: 500px;
		height: 280px;
		display: block;
    	@media ( max-height: 800px ){
        	display: none;
        }
	}
	#rated {
		color: #fff;
		text-shadow: 1px 1px 1px #000;
	    border: 2px solid #fff;
	    display: inline-block;
	    border-radius: 2px;
	    padding: 5px 10px;
	    opacity: .85;
	    margin: 1em;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	}
	#release-date {
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		font-family: @font-family-light;
	    display: inline-block;
	    opacity: .85;
	    margin: 1em;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	#details {
		h1 {
			margin-top: 0;
		}
		padding: 10px 15px 15px 15px;
		background: linear-gradient(to bottom, rgba(252, 252, 252, .8), rgba(252, 252, 252, .99), rgba(252, 252, 252, .99));
		min-height: 300px;
		overflow-x: hidden;
		#open-link {
			cursor: pointer;
			float: right;
			margin-right: 25px;
			font-family: @font-family-light;
		}
		#imdb-link {
			cursor: pointer;
			color: @color-blue;
			clear: both;
			float: right;
			margin: 10px 40px 10px 10px;
			font-family: @font-family-light;
			&:hover {
				color: @color-blue-dark;
			}
		}
		p {
			font-family: @font-family-light;
			font-size: 16px;
			span {
				font-family: @font-family-regular;
			}
		}
	}
	#rating {
		position: relative;
		margin: 0 0 25px 0;
		display: block;
		height: 50px;
	}
	.rating {
		width: 500px;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transform: translate3d(0, 50%, 0);
		transition: transform .4s ease-in,
					opacity .4s ease-in;
		h5 {
			float: left;
			cursor: default;
		}
		&.active {
			display: block;
			opacity: 1;
			transform: none;
			transition-delay: .3s;
		}
		&.old {
			transform: translate3d(0, -50%, 0);
		}
	}
	.rating-text {
		margin-left: 250px;
		margin-top: 35px;
		cursor: default;
	}
	.bullet-wrap {
		position: absolute;
		z-index: 1;
		top: 35px;
		left: 0;
	}
	.bullet-empty-wrap {
		position: absolute;
		z-index: 0;
		top: 35px;
		left: 0;
	}
	.bullet {
		display: inline-block;
		float: left;
		margin: 4px 8px 4px 0; 
		border-radius: 50%;
		width: 14px;
		height: 14px;
		background: @color-blue;
		background-position: center center;
		box-shadow: 1px 1px 5px #BBB;
		&.empty {
			background-color: #FFF;
		}
	}
	#trailer {
		position: absolute;
		z-index: 2;
		bottom: 0;
		width: 500px;
		height:280px;
		margin: 0 -15px;
	}
	#trailer-text {
		line-height: 0.5;
		text-align: center;
		margin-top: 2em;
		span {
			display: inline-block;
			position: relative;  
			&:before {
				right: 100%;
				margin-right: 15px;
			}
			&:after {
				left: 100%;
				margin-left: 15px;
			}
			&:before,
			&:after {
				content: "";
				position: absolute;
				height: 5px;
				border-bottom: 1px solid @color-h5;
				border-top: 1px solid @color-h5;
				top: 0;
				width: 150px;
			}
		}
	}
	// #details-panel.active
	&.active {
        transform: translate(0, 0);
	}
}

// movie items
#movies-wrapper {
	height: 100%;
	padding-left: 0;
	padding-bottom: 50px;
	overflow-y: scroll;
	overflow-x: hidden;
	#movie-items {
		padding-bottom: 50px;
	}
}
.movie {
	height: 384px;
	margin-bottom: 2em;
}
.movie-image {
	width: 220px;
	border-radius: 6px;
	padding: 1em 0 .5em 0;
    font-family: @font-family-light;
	outline: none;
	img {
		max-width: 185px;
	}
	&:active, &:focus {
		background-color: @color-blue;
		h5 {
			color: #FFF;
		}
	}
	.caption {
		width: 185px;
	}
}

// spinner
.spinner {
  width: 40px;
  height: 40px;
  float: right;
  position: relative;
  margin: 16px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #CCC;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}// end spinkit

